form {
  width: 420px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px; /* separación entre campos */
}

.field {
  display: flex;
  align-items: center;
  gap: 16px; /* espacio entre label e input */
}

label {
  width: 90px;
  font-weight: 600;
}

input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px;
  background-color: #3880ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #3171e0;
}
h1, p {
  text-align: center;
  margin-bottom: 24px;
}